@import '../../style/import.scss';

.port-wrapper {
    background-color: $medium-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .top-section {
        height: 50%;
        @include center;
        .top-inner {
            height: 300px;
            width: 80vw;
            background-color: #000;
            .square {
                height: 100%;
                width: 25%;
                background-color: $dark-gray;
                @include tablet {
                    width: 40%;
                }
            }
        }
    }
    .bottom-section {
        width: 80%;
        height: 50%;
        @include evenly;
        @include tablet {
            flex-direction: column;
        }
        @include xl-phone {
            width: 90%;
        }
    }
}
